# dependencies
/src/gateway/node_modules
/src/services/canteen-service/node_modules
/src/services/lecturer-service/node_modules
/src/services/library-service/node_modules

# environment
.env

# logs
*.log

# docker
*.pid
*.seed
*.pid.lock